<!DOCTYPE html>
<html style="width: 100%">
  <head>
    <title>TARP Dash Board</title>
  </head>
  <body style="width: 100%">
  	<h3>Current IoT Connections</h3>
  	<table style="border: 1px solid black">
  		<tr style="border: 1px solid black">
  			<th>Device</th>
  			<th>IP</th>
  			<th>Location</th>
  			<th>Type</th>
  		</tr>
  		{% for device in devices %}
  		<tr>
  			<td>{{ device['name'] }}</td>
  			<td>{{ device['ip'] }}</td>
  			<td>{{ device['location'] }}</td>
  			<td>{{ device['ipType'] }}</td>
  		</tr>
		{% endfor %}
		<tr>
			<td><a href="/rules/">View firewall rules</a></td>
		</tr>
  	</table>
  </body>
</html>
